@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body {
    background-color: #312b30;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#banner {
    background-color: #63aebb;
    font-family: 'Black Han Sans', sans-serif;
    padding: 20px;
    font-size: 4em;
}

.left {
    background-color: yellow;
}

.center {
    background-color: red;
}

.right {
    background-color: blue;
}

/* Mobile Version */
@media screen and (min-width: 530px) {
    .container {
        display: grid;        
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2px;
        height: 400px;
        grid-template-areas: 
            "left left left"
            "center center center"
            "right right right";
    }    
}

